.hero-section {
    max-width: 70em;
    margin: auto;
    margin-top: 100px;
    background-color: grey;
    color: white;
    display: flex;
    gap: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }


  .img-container img {
    position: relative;
    width: 18em;
    box-shadow: rgba(0, 0, 0, 0.35) -10px 10px 15px;
    transform: scale(1.2);
    animation: moveIn 2s ease-out forwards;
  }

@keyframes moveIn {
    0% {
        top: -100px;
        left: -100px;
        opacity: 0;  
    }
    100% {
        top: 0em; 
        left: 2.5em;
        bottom: 1em;
        opacity: 1;
    }
}


  .hero-right{
    padding: 1.5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
.about-me{
  margin-top: 10px;
  line-height: 1.2em;
  text-align: justify;
  font-size: 18px;

  }
  

  .links {
    align-self: flex-end;
    display: flex;
    gap: 1em;
    font-size: 2em;
  }
  .links a{
    color: #363434;
  }
  
  .links a:hover{
    color: darkgray;
  }
